<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
</head>

<body>

    <section class="section" id="app">
        <div class="container">
            <div class="content">
                <h3 class="subtitle">Loop array</h3>
                <ul>
                    <li v-for="(todo, index) in todos">
                        {{index + 1}}. {{todo.text}} <span v-if="todo.important">!!!</span>
                    </li>
                </ul>
                <h3 class="subtitle">Loop object</h3>
                <ul>
                    <li v-for="(value, name, index) in book">{{index + 1}}. <strong>{{name}}</strong> : {{value}}</li>
                </ul>
            </div>
        </div>
    </section>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                todos: [
                    { text: 'Learn JavaScript', important: true },
                    { text: 'Learn Vue', important: false },
                    { text: 'Build something awesome', important: true }
                ],
                book: {
                    title: 'How to do lists in Vue',
                    author: 'Jane Doe',
                    publishedAt: '2016-04-10'
                }
            }
        })
    </script>
</body>

</html>